/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html{
	font-size: $font-size-base;
	height:100%;
	font-size: 12px;
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    color: $text-color;
    background-color: #f4f5f5;
}
body{
	min-height:100%;
	padding-top: 1px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,F
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	vertical-align: baseline;
	font-family: 'Josefin Sans Light', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti, 
	"Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	color: $title-color;
	margin: 15px 0;
}
div{
    box-sizing: border-box;
}
input{
	width: 100%;
	border: 0;
	outline: none;
	padding: 0;
	box-sizing: border-box;
}
button{
	outline: none;
}
textarea{
	resize: none; //禁止拉伸
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	background: url(https://yxs-web.oss-cn-beijing.aliyuncs.com/328e4d97f9d0d68ea04e872f68e508e3.png) no-repeat;
	background-size: contain;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	margin-top: 20px;
    margin-bottom: 20px;
	border: 0;
	height: 1px;
	background: #bac1c8;
}
    
.clearfix::after{
	content: '';
	display: block;
	height:0;
	visibility: hidden;
	clear: both;
}

.one-line{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
