/**
* sass的常用的mixin
*/

// 两端对齐
@mixin fac{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// 间隔对齐
@mixin fbc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 从左边开头
@mixin fsc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// 两端对齐 上下随缘
@mixin fb{
    display: flex;
    justify-content: space-between;
}