/**
 * @desc scss全局变量
 * @author xzh xzh19971005@163.com
 *
 */
/*文本字号*/
$font-size-base: 12px; // 主字号

/*文本颜色*/
$title-color: #7396a7; // 标题色
$text-color: #333333; // 主文本色
$text-color-secondary : rgba(0, 0, 0, .8); // 次文本色

/*组件/浮层 圆角*/
$border-radius-base: 4px; //   基础圆角
$border-radius-large: 8px; // 2倍圆角

/*浮层阴影*/
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);

/*全局配色*/
$primary-color: #007fff; // 全局主色
$link-color: rgba(255, 82, 82, 0.8); // 链接色
$success-color: #52c41a; // 成功色
$warning-color: #faad14; // 警告色
$error-color: #f5222d; // 错误色
$disabled-color : rgba(0, 0, 0, .25); // 失效色
$border-color-base: #d9d9d9; // 边框色
